# Home dir files
.bash_logout
.bashrc
.profile
.bash_history
.cache/
.python_history
brewpi-env/
coverage.xml
start.bat
sftp-config.json
requirements.txt
!.gitignore
.idea/
utils/downloads/
venv/
.gitconfig

# Compiled Python files
*.py[co]
__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
